.logo{
    position: fixed;
    right: 20px;
    top: 20px;
    width: 70px;
   }
   #home{

    background-size:cover; 
    background-repeat: no-repeat;
    background-position: 0px -200px;
    z-index: 100;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  } 
  .dark #home {
    background-color: #1B1F24;
    background-image: none;
    min-height: 100vh;
  }
 

  
