@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: "DM Sans", sans-serif;
 
}

.title{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: -2.5px;

 }

 ::-webkit-scrollbar{
  width: 0px;
}

:root{
  --primary: 234, 233 ,233;
  --purewhite: 255, 255, 255;
  --pureblack: 0 , 0 , 0;

}

.dark{
  --primary: 30 , 32 , 42;
  --purewhite: 30, 32, 42;
  --pureblack: 255 , 255 , 255;
}

