@import "flowbite/dist/flowbite.css";
@tailwind base;
@tailwind components;
@tailwind utilities;



html, body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

body{
  font-family: "DM Sans", sans-serif;
 
}

.title{
  font-family:  sans-serif , "Poppins";
  font-weight: 600;
  letter-spacing: -2.5px;

 }

 ::-webkit-scrollbar{
  width: 0px;
}

:root{
  --primary: 234 , 233, 233;  
  --secondary: 255 , 255 ,255 ;
  --accent: 0, 0, 0;
  --purewhite: 255, 255, 255;
  --pureblack: 0 , 0 , 0;
  --green: 255, 255, 255;
}

.dark{
  --primary: 27 , 31 , 36;
  --secondary: 39 , 42 , 48;
  --accent: 255, 255, 255;
  --purewhite: 30, 32, 42;
  --pureblack: 255 , 255 , 255;
  --green: 22, 163, 74;
}
*:focus {
  outline: none;
}


